@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Tiro+Gurmukhi:ital@0;1&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #7050ff, #7158);
  font-family: 'Tiro Gurmukhi', serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: white;
  border: 0;
  font-size: 18px;
  padding: 15px;
  width: 50px;
  height: 50px;
  transition: width 0.3s ease;
  /* the width will keep the transition running smoothly */
}

.btn {
  background-color: white;
  color: #a89db6;
  border: 0;
  font-size: 24px;
  height: 50px;
  width: 50px;
  position: absolute;
  /* top: 0; */
  left: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
  /* then toggled the width will expand to 200px */
}

.search.active .btn {
  transform: translateX(198px);
  /* this shows where the button will be placed when active toggle is clicked */
}
